.psychologist-card {
  position: relative;
  width: 16rem;
  height: 20.5rem;
  margin: 5rem auto;
  background-color: #fff;
  color: #000;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.psychologist-card:hover {
  box-shadow: 1px 8px 20px grey;
  transition: box-shadow 0.3s ease-in;
}

.card-img-psychologist {
  text-align: center;
  width: 100%;
  height: 12rem;
}

.caption-up {
  text-align: center;
  height: 1.6rem;
  background-color: #2e3e57;
  color: white;
}

.vignette2 {
  position: absolute;
  transform: translateX(-10px);
  color: #007bff00;
}

.name-text {
  color: black;
  font-family: Bergen Sans;
  font-size: 26px;
}

.category-text {
  color: black;
  font-size: 18px;
  font-family: Monserrat;
  font-weight: 200;
}

.card-caption {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transform: translateY(90%);
  transform: translateY(92%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.card-box {
  justify-content: space-evenly;
  color: white;
}

.card-box2 {
  margin-left: 0.45rem;
  margin-right: 0.5rem;
  color: white;
  border-left: none;
  transition: box-shadow 0.3s ease-in;
}

.card-box2:hover {
  box-shadow: 1px 8px 5px rgb(127, 127, 127);
  transition: box-shadow 0.3s ease-in;
}

.box1 {
  background-color: #2e3e57;
  font-weight: bold;
  padding: 0;
  transition: box-shadow 0.3s ease-in;
}

.box2 {
  background-color: #2e3e57;
  padding: 0;
  transition: box-shadow 0.3s ease-in;
}

.box1 p {
  font-weight: normal;
}

.box2 {
  p {
    font-weight: normal;
  }
}

.box1:hover {
  box-shadow: 1px 5px 8px rgb(127, 127, 127);
  transition: box-shadow 0.3s ease-in-out;
}

.box2:hover {
  box-shadow: 1px 5px 8px rgb(127, 127, 127);
  transition: box-shadow 0.3s ease-in;
}

.card-caption-title {
  margin-top: 0px;
}

.card-caption-content {
  margin: 0;
}

.card-caption-link {
  padding: 0;
  color: #fff;
  text-decoration: underline;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
  transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
}

.card-slide-up:hover .card-caption {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
