.card-psychologist {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 400px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  transition: box-shadow 0.3s;
}

.card-psychologist:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.48);
}

.our-team:hover .picture::before {
  height: 100%;
}

.stats {
  background: #f2f5f8 !important;
  color: #000 !important;
  transition: all 0.3s ease-in-out;
}

.psychologist-name {
  font-family: Bergen Sans;
}

.psychologist-category {
  font-family: "Montserrat", sans-serif;
}

.stats:hover {
  background: #dbe0e2 !important;
}

.queries {
  font-size: 13px;
  color: #9099a9;
  transition: all 0.3s ease-in-out;
}

.queries:hover {
  font-size: 15px;
  color: #636973;
}

.number1 {
  font-weight: 500;
}

.patients {
  font-size: 13px;
  color: #9099a9;
  transition: all 0.3s ease-in-out;
}

.patients:hover {
  font-size: 15px;
  color: #636973;
}

.number2 {
  font-weight: 500;
}

.price {
  font-size: 13px;
  color: #9099a9;
  transition: all 0.3s ease-in-out;
}

.price:hover {
  font-size: 15px;
  color: #636973;
}

.number3 {
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.number3:hover {
  font-size: 15px;
  font-weight: 500;
}

.dividerX {
  padding-right: 5px;
  border-radius: 8px;
  border-right: white 5px solid;
  height: 50px;
}
