.psychologist-card {
  position: relative;
  width: 16rem;
  height: 20.5rem;
  margin: 5rem auto;
  background-color: #fff;
  color: #000;
  overflow: hidden;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transition: all 0.3s ease-in-out;
}

.psychologist-card:hover {
  box-shadow: 0 0 11px rgba(2, 2, 2, 0.584);
  transition: box-shadow 0.3s ease-in;
}

.card-img-psychologist {
  text-align: center;
  width: 100%;
  height: 12rem;
}

.caption-up {
  text-align: center;
  height: 1.6rem;
  background-color: #2e3e57;
  color: white;
}

.vignette2 {
  position: absolute;
  transform: translateX(-10px);
  color: #007bff00;
}

.name-text {
  color: black;
  font-family: Bergen Sans;
  font-size: 26px;
}

.category-text {
  color: black;
  font-size: 18px;
  font-weight: 200;
  line-height: normal;
}

.card-caption {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transform: translateY(90%);
  transform: translateY(93%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.card-box {
  justify-content: space-evenly;
  color: white;
}

.card-box2 {
  margin-left: 0.45rem;
  margin-right: 0.5rem;
  color: white;
  border-left: none;
  transition: all 0.3s ease-in;
}

.card-box2:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transition: all 0.3s ease-in;
}

.box1 {
  background-color: #2e3e57;
  font-weight: bold;
  font-family: Bergen Sans;
  padding: 0;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.167);
  transition: all 0.3s ease-in-out;
}

.box2 {
  background-color: #2e3e57;
  padding: 0;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transition: all 0.3s ease-in-out;
  font-family: Bergen Sans;
}

.box1 p {
  font-weight: normal;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.box2 p {
  font-weight: normal;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.box1:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.581);
  transition: box-shadow 0.3s ease-in-out;
}

.box1:hover > p {
  font-size: 22px;
  transition: all 0.3s ease-in-out;
}

.box2:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.581);
  transition: box-shadow 0.3s ease-in;
}

.box2:hover > span {
  font-size: 22px !important;
  transition: all 0.3s ease-in-out;
}

.box2:hover > p {
  font-size: 22px !important;
  transition: all 0.3s ease-in-out;
}

.card-caption-title {
  margin-top: 0px;
}

.card-caption-content {
  margin: 0;
}

.card-caption-link {
  padding: 0;
  color: #fff;
  text-decoration: underline;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
  transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
}

.card-slide-up:hover .card-caption {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.dividerX {
  margin-left: 7px;
  margin-right: 5px;
  margin-top: 1rem;
  width: 15.2rem;
  border-bottom: solid 3px #d4c8bb;
}

.buttonRow1 {
  width: 4.8rem;
  font-size: 18px;
  color: white;
  background-color: #2e3e57;
  border: white 1px solid;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.buttonRow1:hover {
  transition: all 0.3s ease-in-out;
  background-color: white;
  color: #2e3e57;
  border: #2e3e57 1px solid;
}

.buttonRow2 {
  padding: 0.2rem 1.2rem 0.2rem 1.2rem;
  font-size: 18px;
  background-color: white;
  color: #2e3e57;
  border: #2e3e57 1px solid;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.buttonRow2:hover {
  font-size: 18px;
  background-color: #2e3e57;
  color: white;
  border: white 1px solid;
  transition: all 0.3s ease-in-out;
}
