/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
#caja_arriba {
  background: rgba(255, 255, 255, 0.822);
  height: 800px;
}

.carousel,
.carousel-inner > .item > img {
  height: 430px;
  width: 800px;
}
.carousel-inner img {
  width: 100%;
  height: 430px;
  max-height: 430px;
}

.carousel-inner {
  height: 430px;
  border-radius: 15px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#carrusel {
  display: inline-flex;
}
#enunciado {
  width: 700px;
  height: 600px;
  background-color: rgba(220, 231, 233, 0.568);
  padding-left: 60px;
  padding-top: 60px;
  padding-right: 80px;
}
#carouselExampleCaptions {
  padding-top: 80px;
  margin-left: -40px;
}
#boton {
  border-radius: 8px;
  font-size: 20px;
}
