.header {
  display: flex;
  height: 50px;
  width: 300px;
}
.cta {
  background-color: royalblue;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  text-align: center;
  padding: 3px;
  margin-left: 45px;
}
.modal {
  position: fixed;
  background-color: #333;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  display: flex;

  --opacity: 0;
  --pointer: none;

  opacity: var(--opacity);
  pointer-events: var(--pointer);
  transition: opacity 0.4s;
}

.modal:target {
  --opacity: 1;
  --pointer: unset;
}

.modal_container {
  margin: auto;
  background-color: #fff;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  overflow: hidden;
  text-align: center;
  padding: 2.5em 1.5em;
  border-radius: 1em;
}

.modal_picture {
  width: 90%;
  margin: 0 auto;
  max-width: 400px;
  margin-bottom: 2em;
}

.modal_img {
  width: 100%;
  display: block;
}

.modal_title {
  font-size: 2.5rem;
  font-weight: 500px;
}
.modal_title--bold {
  font: weight 700px;
}

.modal_paragraph {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.5;
}
.modal_close {
  background: #f9f9f9;
  border: 5px solid rgba(8, 166, 240, 0.959);
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  color: rgba(8, 166, 240, 0.959);
  font-weight: bold;
  padding-top: 8px;
}

@media (max-width: 600px) {
  .modal_title {
    font-size: 1.7rem;
  }
}

.caja-drop-area {
  margin-left: 70px;
}

.drop-area {
  border: 5px dashed #ddd;
  height: 300px;
  width: 400px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  padding-left: 30px;
}

.drop-area.active {
  background-color: #b8d4fe;
  color: black;
  border: 2px dashed #618ac9;
}

.drop-area h2 {
  font: size 30px;
  font-weight: 500;
  color: black;
}

.drop-area span {
  font-size: 25px;
  color: black;
}

.drop-area button {
  padding: 10px 25px;
  font-size: 20px;
  border: 0;
  outline: none;
  background-color: #5256ad;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}

.file-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: solid 1px #ddd;
}

#preview {
  margin-top: 10px;
}

.status-text {
  padding: 0 10px;
}

#miFoto {
  visibility: hidden;
  width: 70%;
}

.agregarFoto {
  background: #f9f9f9;
  border: 5px solid rgba(8, 166, 240, 0.959);
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  color: rgba(8, 166, 240, 0.959);
  font-weight: bold;
}

/* .page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fondo_transparente {
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.226);
  position: absolute;
  height: 100vh;
  width: 100%;
  display: none;
}
.modal {
  background-image: linear-gradiente(0deg, white 70%, crimson 30%);
  width: 600px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
} */
