#avatar {
  height: 60px;
  width: 60px;
  border-radius: 500px;
}
#menu {
  height: 75px;
  background-color: white;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  margin: 0;
}
#hola {
  margin-top: -25px;
  margin-left: 140px;
  margin-right: 0;
}
li {
  text-decoration: none;
}
.dropdown-item {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
}
#nav-item {
  margin-left: 140px;
}
