#avatar {
  height: 60px;
  width: 60px;
  border-radius: 500px;
}
#menu {
  height: 65px;
  background-color: whitesmoke;
  padding: 10px;
  width: 100%;
  display: flexbox;
  justify-content: space-between;
}
#hola {
  margin-top: -15px;
}
