#imagen {
  height: 625px;
  width: 700px;
}
.iconpass2 {
  top: 371px;
  right: 40%;
  cursor: pointer;
  color: gray;
  z-index: 9999;
}
#ojitos {
  padding-top: 10px;
  padding-right: 20px;
  position: absolute;
}
